	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	#heading{
		text-align: center;
		margin: 4%;
		padding: 4%;
		font-size: 175%;
	}
	/*Base Style*/
	section{
		border: 1px solid #000;
		background: #BFCFFF;
		position: relative;
		margin-left: 3%;
		margin-right: 0;
		margin-bottom: 3%;
		padding: 3%;
	}
	.title{
		position: absolute;
		right: 0;
		top: 0;
		border: 1px solid #000;
		width: 40%;
		text-align: center;
		border-top: 0;
		border-right: 0; 
		font-size: 125%;
	}
	.text{
		padding: 5%;
		padding-top: 10%;
	}

	#section1 .title{
		background: #F1B8FF;
	}
	#section2 .title{
		background: #FFFAAE;
	}
	#section3 .title{
		background: #7CFFBB;
	}

	/*For Desktop*/
	@media (min-width: 992px){
		#section1{
			width: 29.33%;
			float: left;
		}
		#section2{
			width: 29.33%;
			display: inline-block;
		}
		#section3{
			width: 29.33%;
			display: inline-block;
		}
	}

	/*For Tablet*/
	@media (min-width: 768px) and (max-width: 991px){
		#section1{
			float: left;
			width: 45.5%;
		}
		#section2{
			width: 45.5%;
			display: inline-block;

		}
		#section3{
			width: 94%;	
		}
		#section3 .title{
			width: 20%;
		}
	}
	/*For mobile*/
	@media (max-width:767px){
		section{
			width: 94%;
		}
		section .title{
			width: 45%;
		}
	}
